.errorContainer {
    position: relative;
    padding: 10px;
    border: 1px solid var(--red);
    color: var(--red);
    background-color: rgba(220,
            62,
            34, 0.2);
    transition: all 0.2s ease;
}

.errorContainer:not(:last-child) {
    margin-bottom: 10px;
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 5px;
    width: 17px;
    background-color: transparent;
}

.closeBtn:focus-visible {
    outline: 1px solid var(--dark-red);
}

.closeBtn path {
    fill: var(--red);
    transition: fill 0.2s ease;
}

@media(min-width: 768px) {
    .errorContainer {
        padding: 20px;
    }

    .closeBtn {
        width: 24px;
    }

    .closeBtn:hover,
    .closeBtn:active {
        outline: none;
    }

    .closeBtn:hover path,
    .closeBtn:active path {
        fill: var(--dark-red)
    }
}