.timerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 40px;
    background-color: var(--grayC4);
}

.timerHeader.work {
    background-color: var(--red);
}

.timerHeader.break {
    background-color: var(--green);
}

.timerBody {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--grayF4);
}

.timeContainer {
    position: relative;
    width: 140px;
}

.timeSpan {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 100;
}

.timeSpan.work {
    color: var(--red);
}

.timeSpan.break {
    color: var(--green);
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 16px;
}

.pauseBtn:disabled,
.pauseBtn:disabled:hover,
.pauseBtn:disabled:active {
    opacity: 1;
    background-color: var(--green);
    cursor: not-allowed;
}

@media(min-width:768px) {
    .timerBody {
        padding: 50px;
    }

    .timeContainer {
        width: 214px;
    }

    .timeSpan {
        font-size: 80px;
    }
}

@media(min-width:1440px) {
    .timerBody {
        padding: 100px;
    }

    .timeContainer {
        width: 414px;
    }

    .timeSpan {
        font-size: 150px;
    }
}