.selectWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: max(calc(100vw / 4), 225px);
  border: 1px solid var(--grayDE);
}

.selectTitle {
  padding: 20px 48px 20px 24px;
  background-color: var(--grayF4);
  cursor: pointer;
  transition: background-color 0.2s ease, outline 0.2s ease;
}

.selectTitle:focus-visible {
  outline: 1px solid var(--dark-red);
  z-index: 1001;
}

.selectTitle::before,
.selectTitle::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 22px;
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: var(--dark-red);
  transition: transform .3s ease
}

.selectTitle::before {
  transform: translate(-3px, -50%) rotate(45deg);
}

.selectTitle::after {
  transform: translate(3px, -50%) rotate(-45deg);
}

.selectWrapper.isOpen .selectTitle::before {
  transform: translate(-3px, -50%) rotate(-45deg);
}

.selectWrapper.isOpen .selectTitle::after {
  transform: translate(3px, -50%) rotate(45deg);
}

.selectContent {
  position: absolute;
  top: 58px;
  right: -1px;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  background-color: var(--grayF4);
  border: 1px solid var(--grayDE);
  border-top: none;
  z-index: 1000;
}

.selectItem {
  padding: 20px 24px;
  border-top: 1px solid var(--grayDE);
  cursor: pointer;
  transition: background-color 0.2s ease, outline 0.2s ease;
}

.selectItem:focus-visible {
  background-color: var(--grayEC);
  outline: 1px solid var(--dark-red);
  border-top: 1px solid var(--grayEC);
  z-index: 1;
}

.selectItem.isActive {
  display: none
}

/* .selectItem.isSelected {
  background-color: var(--grayEC);
} */

@media(min-width: 768px) {
  .selectWrapper {
    min-width: 325px;
  }

  .selectTitle:focus-visible:hover,
  .selectTitle:focus-visible:active {
    outline: none;
  }

  .selectTitle:hover,
  .selectItem:hover,
  .selectTitle:active,
  .selectItem:active {
    background-color: var(--grayEC);
  }

  .selectItem:focus-visible:hover,
  .selectItem:focus-visible:active {
    border-top: 1px solid var(--grayDE);
    outline: none;
  }
}