.header {
    display: flex;
    justify-content: space-between;
    padding: 10px calc((100vw - max(90%, var(--s-max-width))) / 2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
}

.linkContainer {
    display: flex;
    align-items: center;
    color: var(--red);
    transition: outline 0.3s ease, color 0.3s ease;
}

.linkContainer:focus-visible {
    outline: 1px solid var(--red);
}

.linkContainer span {
    color: var(--red);
    transition: color 0.3s ease;
}


@media(min-width: 768px) {
    .header {
        padding: 15px calc((100vw - max(75%, var(--m-max-width))) / 2);
    }

    .linkContainer:hover,
    .linkContainer:active {
        outline: none;
    }

    .linkContainer:hover span,
    .linkContainer:active span {
        color: var(--dark-red);
    }

    .linkContainer path {
        transition: fill 0.3s ease;
    }

    .linkContainer:not(.linkLogo):hover path,
    .linkLogo:hover path:first-child,
    .linkContainer:not(.linkLogo):active path,
    .linkLogo:active path:first-child {
        fill: var(--dark-red);
    }

}

@media(min-width: 1440px) {
    .header {
        padding: 15px calc((100vw - max(75%, var(--l-max-width))) / 2);
    }

    .nav {
        gap: 32px;
    }
}