.menuItemsList {
  padding: 6px 0;
  border: 1px solid var(--grayC4);
  background-color: var(--white);
}

.menuItemsList::before {
  content: '';
  position: absolute;
  top: -1px;
  right: 10%;
  border: solid var(--grayC4);
  border-width: 1px 0 0 1px;
  display: inline-block;
  padding: 3px;
  background-color: var(--white);
  transform: rotate(45deg) translateX(-50%);
  z-index: 101;
}

.menuItem {
  padding: 8px 15px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  transition: background-color .2s ease, outline .2s ease;
  cursor: pointer;
}

.menuItem:focus-visible {
  background-color: var(--grayF4);
}

.menuItem>div {
  margin-right: 8px;
}


@media(min-width: 768px) {
  .menuItemsList::before {
    right: 46%;
  }

  .menuItem:hover,
  .menuItem:active {
    background-color: var(--grayF4);
  }

  .menuItem:focus-visible:hover,
  .menuItem:focus-visible:active {
    outline: none;
  }
}