.menuItemsList {
  padding: 6px 0;
  border: 1px solid var(--grayC4);
  background-color: var(--white);
}

.menuItemsList::before {
  content: '';
  position: absolute;
  top: -1px;
  right: 50%;
  border: solid var(--grayC4);
  border-width: 1px 0 0 1px;
  display: inline-block;
  padding: 3px;
  background-color: var(--white);
  transform: rotate(45deg) translateX(-50%);
  z-index: 101;
}

.menuItem {
  padding: 8px 15px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  transition: background-color .3s ease;
  cursor: pointer;
}

.menuItem>div {
  margin-right: 8px;
}


@media(min-width: 768px) {

  .menuItem:hover,
  .menuItem:active {
    background-color: var(--grayF4);
  }
}