:root {
  --black: #333333;
  --red: #dc3e22;
  --dark-red: #B7280F;
  --peach: 234, 138, 121;
  --orange: rgb(255, 221, 169);
  --dark-orange: rgb(255, 174, 53);
  --violet: #DFDCFE;
  --dark-violet: #9C97D7;
  --blue: #C5F1FF;
  --dark-blue: #7FC2D7;
  --green: #A8B64F;
  --dark-green: #899441;
  --whiteLightness: 100%;
  --white: hsl(0, 0%, var(--whiteLightness));
  --grayF4: hsl(0, 0%, calc(var(--whiteLightness) - 4%));
  --grayF3: hsl(0, 0%, calc(var(--whiteLightness) - 5%));
  --grayEC: hsl(0, 0%, calc(var(--whiteLightness) - 7%));
  --grayDE: hsl(0, 0%, calc(var(--whiteLightness) - 13%));
  --grayD9: hsl(0, 0%, calc(var(--whiteLightness) - 15%));
  --grayC4: hsl(0, 0%, calc(var(--whiteLightness) - 23%));
  --gray99: hsl(0, 0%, calc(var(--whiteLightness) - 40%));
  --gray66: hsl(0, 0%, calc(var(--whiteLightness) - 60%));
  --s-max-width: 300px;
  --m-max-width: 736px;
  --l-max-width: 1280px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color .3s ease;
}

a:active {
  color: unset;
}

*:focus-visible {
  outline: 1px solid var(--green);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}

.vw100 {
  width: 100vw;
}

.vh100 {
  height: 100vh;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumn {
  flex-direction: column;
}

button {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  transition: all 0.1s ease;
}

button:disabled {
  cursor: default;
}

.primaryBtn,
.secondaryBtn {
  padding: 16px 24px;
  min-width: 140px;
}

.primaryBtn {
  color: var(--white);
  background-color: var(--green);
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.primaryBtn:focus-visible {
  opacity: 0.8;
  background-color: var(--green);
  outline: none;
}

.primaryBtn:disabled:not(.readonly),
.primaryBtn:disabled:not(.readonly):hover,
.primaryBtn:disabled:not(.readonly):active {
  opacity: 0.5;
  background-color: var(--green);
}

.secondaryBtn {
  border: 2px solid var(--red);
  color: var(--red);
  transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.secondaryBtn:focus-visible {
  opacity: 0.8;
  color: var(--white);
  background-color: var(--red);
  outline: none;
}

.secondaryBtn:disabled:not(.readonly),
.secondaryBtn:disabled:not(.readonly):hover,
.secondaryBtn:disabled:not(.readonly):active {
  color: var(--grayC4);
  border: 2px solid var(--grayC4);
  opacity: 1;
  background-color: transparent;
}

.secondaryBtn.active {
  border: 2px solid var(--red);
  opacity: 1;
  color: var(--white);
  background-color: var(--red);
  transition: opacity 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.secondaryBtn.active:focus-visible {
  opacity: 0.8;
  background-color: var(--red);
  outline: none;
}

.secondaryBtn.active:disabled:not(.readonly),
.secondaryBtn.active:disabled:not(.readonly):hover,
.secondaryBtn.active:disabled:not(.readonly):active {
  opacity: 0.5;
  background-color: var(--green);
}

.addBtn {
  position: absolute;
  top: 50%;
  right: -50px;
  border-radius: 50%;
  transform: translateY(-50%);
}

.addBtn.readonly {
  position: static;
  transform: unset;
}

.btnWrapper {
  min-width: 140px;
}

.addBtn svg {
  width: 35px;
  height: 35px;
}

.addBtn circle {
  transition: fill .3s ease
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.leftBlock,
.rightBlock {
  display: flex;
  flex-direction: column;
  width: min(450px, 100%);
}

.leftBlock {
  align-items: flex-start;
}

.drop-with-translate-enter {
  opacity: 0;
  transform: translateY(-10px) translateX(5vw);
}

.drop-with-translate-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.drop-with-translate-exit {
  opacity: 1;
}

.drop-with-translate-exit-active {
  opacity: 0;
  transform: translateY(-10px) translateX(5vw);
  transition: opacity 300ms, transform 300ms;
}

.drop-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.drop-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.drop-exit {
  opacity: 1;
}

.drop-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

@media (min-width: 768px) {

  .primaryBtn:not(.readonly):hover,
  .primaryBtn:not(.readonly):active {
    opacity: 1;
    background-color: var(--dark-green);
  }

  .secondaryBtn:not(.readonly):hover,
  .secondaryBtn:not(.readonly):active {
    color: var(--white);
    border: 2px solid var(--red);
    opacity: 1;
    background-color: var(--red);
  }

  .secondaryBtn.active:not(.readonly):hover,
  .secondaryBtn.active:not(.readonly):active {
    border: 2px solid var(--dark-red);
    opacity: 1;
    background-color: var(--dark-red);
  }

  .addBtn svg {
    width: 50px;
    height: 50px;
  }

  .addBtn:not(.readonly):hover circle,
  .addBtn:not(.readonly):active circle {
    fill: var(--dark-green)
  }

  .mainContent {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }

  .leftBlock {
    width: min(40%, 700px);
  }

  .rightBlock {
    width: 60%;
  }
}

@media (min-width: 1440px) {

  .primaryBtn,
  .secondaryBtn {
    padding: 20px 50px;
    min-width: 192px;
  }

  .btnWrapper {
    min-width: 192px;
  }

  .mainContent {
    gap: 50px;
  }

  .rightBlock {
    width: calc((100% - 50px) / 2);
  }
}