.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    gap: 25px;
}

.descrBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskListBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: min(450px, 100%);
}

.input {
    padding: 19px 15px;
    background-color: var(--grayF4);
    border: none;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
}

.inputGroup {
    position: relative;
    width: 100%;
}

.inputGroup>.errorMessage {
    position: absolute;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: var(--grayEC);
}

.taskList {
    width: 100%;
}

.cancelBtn {
    margin-top: 10px;
    border-bottom: 1px solid var(--black);
    color: var(--black);
    font-weight: 300;
    background-color: transparent;
    transition: border .3s ease, color .3s ease;
}

.errorBlock {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: max(150px, 40%);
    font-size: 12px;
    z-index: 1100;
}

@media(min-width:768px) {
    .mainContent {
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }

    .descrBlock {
        max-width: calc((100% - 25px) / 2);
        align-items: flex-start;
    }

    .cancelBtn:hover,
    .cancelBtn:active {
        border-bottom: 1px solid var(--dark-green);
        color: var(--dark-green);
    }

    .errorBlock {
        right: 20px;
        bottom: 20px;
        width: max(320px, 20%);
        font-size: 16px;
    }
}

@media(min-width:1440px) {
    .mainContent{
        gap: 50px;
    }
    .descrBlock {
        width: calc((100% - 50px) / 2);
    }

    .errorBlock {
        width: max(450px, 20%);
    }
}