

.input {
    padding: 19px 15px;
    background-color: var(--grayF4);
    border: none;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
}

.inputGroup {
    position: relative;
    width: 100%;
}

.inputGroup>.errorMessage {
    position: absolute;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: var(--grayEC);
}

.taskList {
    width: 100%;
}

.cancelBtn {
    margin-top: 10px;
    border-bottom: 1px solid var(--black);
    color: var(--black);
    font-weight: 300;
    background-color: transparent;
    transition: border .3s ease, color .3s ease;
}

.errorBlock {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: max(150px, 40%);
    font-size: 12px;
    z-index: 1100;
}

@media(min-width:768px) {
    .cancelBtn:hover,
    .cancelBtn:active {
        border-bottom: 1px solid var(--dark-green);
        color: var(--dark-green);
    }

    .errorBlock {
        right: 20px;
        bottom: 20px;
        width: max(320px, 20%);
        font-size: 16px;
    }
}

@media(min-width:1440px) {
    .errorBlock {
        width: max(450px, 20%);
    }
}